@model CP_Code_Test.Models.DiscretionaryRule

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div>
    <h4>DiscretionaryRule</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConsultantID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultantID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rules)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rules)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerBuy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerBuy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerSell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerSell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultantBuy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultantBuy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultantSell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultantSell)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DiscretionaryRuleID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
