@model CP_Code_Test.Models.CustomerInfo

@{
    ViewBag.Title = "Delete Customer Info";
}

<h2>Are you sure you want to delete details of @Model.FirstName @Model.LastName?</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConsultantId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultantId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gender)
        </dt>

        <dd>
            @Html.RadioButtonFor(model => model.Gender, "M")
            @Html.ValidationMessageFor(model => model.Gender, "Male", new { @disabled = "disabled" })
            <br />
            @Html.RadioButtonFor(model => model.Gender, "F")
            @Html.ValidationMessageFor(model => model.Gender, "Female", new { @disabled = "disabled" })
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DOB)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DOB)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MobileNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MobileNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            @Html.ActionLink("Back to List", "Index", null, null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
