@model CP_Code_Test.Models.DiscretionaryRule

@{
    ViewBag.Title = "Details";
}

<h2>User Permission Details for Consultant ID: @Model.ConsultantID</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ConsultantID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultantID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerBuy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerBuy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerSell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerSell)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultantBuy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultantBuy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConsultantSell)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConsultantSell)
        </dd>

    </dl>
</div>
<div class="d-flex justify-content-start align-items-center">
    @Html.ActionLink("Edit", "Edit",  new { id = Model.DiscretionaryRuleID }, new { @class = "btn btn-primary mb-2 mr-2" })
    @Html.ActionLink("Back to List", "Index", null, null, new { @class = "btn btn-danger mb-2" })
</div>
