@model IEnumerable<CP_Code_Test.Models.DiscretionaryRule>

@{
    ViewBag.Title = "User Permissions";
}

<h2>User Permissions</h2>
<hr />
@Html.ActionLink("Create New", "Create", null, null, new { @class="btn btn-secondary mb-2"})

<table class="table table-striped table-hover table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ConsultantID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerBuy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerSell)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsultantBuy)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ConsultantSell)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultantID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerBuy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerSell)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultantBuy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConsultantSell)
            </td>
            <td>
                <div class="d-flex justify-content-between align-items-center">
                    @Html.ActionLink("Edit", "Edit", new { id = item.DiscretionaryRuleID }, new { @class = "btn btn-primary mb-2 mr-2" })
                    @Html.ActionLink("Details", "Details", new { id = item.DiscretionaryRuleID }, new { @class = "btn btn-success mb-2 mr-2" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.DiscretionaryRuleID }, new { @class = "btn btn-danger mb-2" })
                </div>
            </td>
        </tr>
    }

</table>
